beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
html5lib==1.0.1
html5print==0.1.2
icalendar==4.0.3
idna==2.8
Jinja2==2.10.3
MarkupSafe==1.1.1
ply==3.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.13.0
slimit==0.8.1
soupsieve==1.9.5
tinycss2==1.0.2
urllib3==1.25.7
webencodings==0.5.1
