beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
html5lib==1.1
html5print==0.1.2
icalendar==4.0.7
idna==2.10
Jinja2==2.11.2
MarkupSafe==1.1.1
ply==3.11
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.15.0
slimit==0.8.1
soupsieve==2.0.1
tinycss2==1.0.2
urllib3==1.25.9
webencodings==0.5.1
feedparser==6.0.1
tweepy==3.9.0