name: Docker Image CI

on:
  push:

jobs:
  build:
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        image:
          - "mixpanel-proxy"
          - "alpine-curl"
          - "civicrm-php"
          - "civicrm-sshd"
          - "debian-shell"
          - "metabase-watchdog"
          - "mycli"
          - "nodejs-ftp-srv"
          - "terraform-tfnotify"
          - "travis-cli"
          - "ubuntu-sshd-github"
          - "zabbix-agent"

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Pull image from HyperOne
      run: docker pull docker-registry.siecobywatelska.pl/${{ matrix.image }}:latest || echo 'Missing image'
    - name: Pull image from Quay.io
      run: docker pull quay.io/watchdogpolska/${{ matrix.image }}:latest || echo 'Missing image'
    - name: Build image
      run: |
        docker build ${{ matrix.image }} \
          --tag docker-registry.siecobywatelska.pl/${{ matrix.image }}:latest \
          --cache-from docker-registry.siecobywatelska.pl/${{ matrix.image }}:latest \
          --cache-from quai.io/watchdogpolska/${{ matrix.image }}:latest
    - name: Docker login
      env:
        DOCKER_REGISTRY_URL: docker-registry.siecobywatelska.pl
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      run: echo "${DOCKER_PASSWORD}" | docker login -u ${DOCKER_USERNAME} --password-stdin ${DOCKER_REGISTRY_URL}
      if: github.event_name == 'push' && github.ref == 'master'
    - name: Push image
      run: docker push docker-registry.siecobywatelska.pl/${{ matrix.image }}:latest
      if: github.event_name == 'push' && github.ref == 'master'